<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required on Android 13+ to post system notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.presyohan.app.PresyohanApp"
        android:allowBackup="true"
        android:icon="@drawable/icon_presyohan_launcher"
        android:label="Presyohan"
        android:roundIcon="@drawable/icon_presyohan_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Presyohan">
        <activity
            android:name="com.presyohan.app.HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.presyohan.app.SignupActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.EnterResetCodeActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="presyohan" android:host="auth-callback" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.presyohan.app.SplashActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.presyohan.app.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.presyohan.app.StoreActivity"
            android:exported="false" />

        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AddMultipleItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewImportActivity"
            android:exported="false" />
        <activity
            android:name=".ManageItemsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ManageStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ManageMembersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ManageCategoryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CopyPricesActivity"
            android:exported="false" />
        <activity
            android:name=".StoreQrActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SelectPresyohanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".StoreViewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".CustomScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
